@media(min-width: 1024px) {
  .desktop {
    display: block
  }

  .mobile {
    display: none
  }

  .width {
    width: 750px;
  }

  .img-size {
    width: 900px;
    height: auto;
    background-color: #d4d4d4;
    text-align: center;
  }
}

body {
  font-family: Noto Sans TC, sans-serif;
  margin: 0;
}

.skyblue {
  background-color: #dadfe6;
  padding-top: 20px;
}

.block-horizontal-center {
  margin: 50px auto 50px auto;
}

.main-title {
  text-align: center;
  font-size: 50px;
  color: black;
}

.article-text {
  font-size: 18px;
  margin-bottom: 40px;
  color: black;
  line-height: 2.5;
}

.sub-title {
  text-align: center;
  font-size: 30px;
  color: #03152b;
  border: 2px solid #03152b;
  display: inline-block;
  padding: 15px 20px;
  border-radius: 6px;
  margin: 0;
}

.img-text {
  text-align: center;
  font-size: 16px;
  margin-top: -40px;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.btn {
  outline: none;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  padding: 9px 22px;
  border: 4px solid #bbbbbb;
  border-radius: 0px;
  background: #ffffff;
  font-size: 16px;
  color: #111111;
  text-decoration: none;
  margin: 10px 5px 20px 5px;
}

.btn:hover, .btn:focus {
  border: 4px solid #999999;
  color: #fff;
  text-decoration: none;
  background-color: gray;
}

.btnActive {
  border: 4px solid #999999;
  color: #fff;
  text-decoration: none;
  background-color: gray;
}

.slideContents {
  padding: 30px;
}

.item {
  /* margin: 30px; */
}

.item img {
  /* margin-bottom: 30px; */
  width: 30%;
  float: left;
  margin-top: 12%;
}

.reliefText {
  float: right;
  width: 65%;
  color: white;
}

.reliefTitle{
  color: #8d8d8e;
}

.footer {
  background-color: #eee;
}

.author {
  font-size: 16px;
  text-align: center;
}

#countryName {
  width: 120px;
  padding: 5px 10px;
  margin-top: -20px;
  margin-bottom: 10px;
  background-color: gray;
  color: #fff;
}

.graph-wrapper {
  padding: 20px 0;
  background-color: white;
}

.d3-tip {
  font-size: 12px;
  font-weight: bold;
  line-height: 20px;
  padding: 10px 20px;
  color: #fff;
  border-radius: 2px;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  font-size: 10px;
  box-sizing: border-box;
  display: inline;
  width: 100%;
  line-height: 1;
  content: "\25BC";
  position: absolute;
  text-align: center;
}

/* Style northward tooltips differently */
.d3-tip.n:after {
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
}

/* .bar-tip {
  background: #aaa;
  border: solid 1px #aaa;
}

.bar-tip:after {
  color: #aaa;
} */
.line-tip {
  background: #585455;
  border: solid 1px #585455;
}

.line-tip:after {
  color: #585455;
}

text {
  font-family: Noto Sans TC, sans-serif;
}

.video {
  background-color: black;
  text-align: center;
  margin-top: -3vh;
}

video {
  position: relative;
  width: 100%;
}

/* iframe {
  width: 100%;
  height:100%;
} */
@media(max-width: 1023px) {
  .desktop {
    display: none;
  }

  .mobile {
    display: block;
  }

  .width {
    width: calc(750/1024*100%);
  }

  .sub-title {
    font-size: 50px;
    background: white;
    display: block;
    padding: 25px 0;
    border-radius: 0;
    margin: 50px auto 50px auto;
    border: 0;
  }

  .article-text {
    font-size: 40px;
  }

  .block-horizontal-center {
    margin: 50px auto 50px auto;
  }

  .img-size {
    width: calc(900/1024*100%);
    background-color: #d4d4d4;
    text-align: center;
  }

  .author {
    font-size: 25px;
  }
}